.benefits__content{
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;

}
.benefits__item {
    width: 50%;
}

.benefits__info{

    border-right: 1px solid var(--border-color);
}

.benefits__info-vectors {
   position: relative;
   margin-bottom: 20px;
   padding: 20px 20px 0 20px;
}



.benefits__info-text {
    height: clamp(3.125rem, 2.554rem + 2.86vw, 5.125rem);
    display: flex;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    text-transform: uppercase;
    overflow:hidden;
}
.info-text__content {
    font-size: clamp(0.563rem, 0.42rem + 0.71vw, 1.063rem);
    position: relative;
    right: 14%;
    flex-shrink: 0;
    gap: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.benefits__info-img {
    padding:  clamp(0.313rem, 0.045rem + 1.34vw, 1.25rem);
}

.benefits__title {
    padding: 24px 80px 15px 61px;
    font-size: clamp(1rem, 0.25rem + 3.75vw, 3.625rem);
    line-height: clamp(1rem, 0.143rem + 4.29vw, 4rem);
    text-align: center;
    border-bottom: 1px solid var(--border-color);

    @include mediaLow {
        padding: 15px ;
    }
}

.benefits__ben-img {
    padding:clamp(0.313rem, 0.045rem + 1.34vw, 1.25rem);
}