.header__nav {
    padding: 0 27px 0 20px;
    border: 1px solid var(--border-color);
    position: relative;
}

.header__list  {
    display: flex;
    justify-content: space-between;
    height:clamp(3.75rem, 2.821rem + 4.64vw, 7rem);
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;

    @media (max-width:900px) {
        justify-content: center;
    }
}

.header__item {
    @media (max-width:900px) {
        display: none;
    }

    &-block {
        display: block !important;
    }
}

.header__link {
    color: var(--header-text);
    transition: color 0.1s ease-in;
    
    &:hover {
        opacity: 0.8;
    }
}
.header__item-content {
    gap: clamp(0.625rem, 0.268rem + 1.79vw, 1.875rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__circle {
    background-color: var(--accent-color);
    border-radius: 50%;
    height: 17px;
    width: 17px;
    border: 1px solid var(--border-color);
    flex-shrink: 0;
}


.vector2 {
    position: absolute;
    left: 9%;
    top:19%;

    @media(max-width:1325px) {
        left: 0px;
    }
}