@font-face {
    font-family: 'roboto-ujjo';
    src: url(../fonts/Roboto-Regular.ttf);
}

body, html {
    font-family: 'roboto-ujjo';
}

.container {
    max-width: 1440px;
    padding: 0 clamp(0.313rem, 0.134rem + 0.89vw, 0.938rem);
    margin: 0 auto  ;
}
.purple {
    background-color: var(--purple-circle)!important;
}

.view {
    height: 100vh;
}

.idk {
    overflow: hidden;
}